.signup {
  background-color: #1c3334;
  min-height: 100vh;
}
.form-controler {
  border: 1px solid #da7b93;
  border-radius: 10px;
  box-shadow: 0px 0px 100px 5px #376e6f;
}
.form-controler input {
  background-color: #1c3334;
  margin: 5px 0px;
  color: white;
  font-size: 20px;
}
.form-controler input:focus {
  background-color: #1c3334;
  color: white;
}
.form-controler input::placeholder {
  color: #376e6f;
}
.form-submit {
  border: none;
  padding: 10px 40px;
  background-color: #376e6f;
  border-radius: 5px;
  color: white;
  line-height: 30px;
  font-size: 20px;
  margin: 10px 0px;
}
.text-error {
  color: #da7b93;
  font-size: 20px;
  padding: 0;
}
.form-select {
  background-color: #1c3334;
  color: white;
  text-align: center;
  font-size: 20px;
}
